# Dependencias
node_modules/
vendor/

# Variables de entorno
.env

# Logs
storage/logs/*
*.log

# Caché de Laravel
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Build de React
dist/

# VS Code
.vscode/