.header-styled {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh; /* Ocupa el 25% de la altura de la ventana */
    z-index: 999;

    .header-image {
        position: absolute;
        top: 10%; /* 10% de la altura vertical */
        left: 50%;
        transform: translateX(-50%); /* Centrado horizontal */
        max-height: 80%; /* Asegura que no ocupe más del área visible */
        width: auto; /* Mantiene proporciones */
    }
}
