.header-styled {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh; /* Ocupa el 25% de la altura de la ventana */
    z-index: 999;

    .header-title {
        font-family: 'Recoleta', serif; /* Fuente elegante y festiva */
        font-size: 4rem; /* Tamaño más grande */
        font-weight: 700;
        color: #FFA500; /* Anaranjado */
        text-align: center;
        text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff; /* Contorno blanco sutil */
        margin: 0;
        position: absolute;
        top: 20%; /* Subir un poco más */
        left: 50%;
        transform: translateX(-50%); /* Centrado horizontal */
    }

    .navidad-logo {
        position: absolute;
        top: 10px; /* Ajustar la distancia desde el top */
        right: 20px; /* Ajustar la distancia desde la derecha */
        height: 120px; /* Tamaño del logo */
        width: auto; /* Mantener proporción */
    }
}
